body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:20px;
  top:10px;
  width:257px;
  height:33px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:20px;
  top:53px;
  width:900px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:883px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:900px;
  height:1px;
}
#u4 {
  position:absolute;
  left:20px;
  top:598px;
  width:900px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:883px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:900px;
  height:1px;
}
#u6 {
  position:absolute;
  left:20px;
  top:73px;
  width:200px;
  height:520px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:520px;
}
#u7 {
  position:absolute;
  left:2px;
  top:252px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:86px;
  top:239px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:86px;
  top:264px;
  width:66px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:86px;
  top:291px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:23px;
  top:200px;
  width:97px;
  height:25px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:23px;
  top:320px;
  width:49px;
  height:25px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:30px;
  top:83px;
  width:97px;
  height:25px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:47px;
  top:118px;
  width:84px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:47px;
  top:144px;
  width:81px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:47px;
  top:177px;
  width:81px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:13px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:73px;
  top:350px;
  width:27px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:70px;
  top:400px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:23px;
  top:424px;
  width:97px;
  height:25px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:72px;
  top:467px;
  width:109px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:72px;
  top:527px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:72px;
  top:501px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:73px;
  top:383px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:74px;
  top:367px;
  width:27px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:700px;
  top:43px;
  width:200px;
  height:90px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:90px;
}
#u44 {
  position:absolute;
  left:2px;
  top:37px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:700px;
  top:18px;
  width:200px;
  height:25px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Helvetica';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u46 {
  position:absolute;
  left:270px;
  top:100px;
  width:615px;
  height:155px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:152px;
  top:0px;
  width:152px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:304px;
  top:0px;
  width:152px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:456px;
  top:0px;
  width:154px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:30px;
  width:152px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:152px;
  top:30px;
  width:152px;
  height:30px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:304px;
  top:30px;
  width:152px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:456px;
  top:30px;
  width:154px;
  height:30px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:60px;
  width:152px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:152px;
  top:60px;
  width:152px;
  height:30px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:304px;
  top:60px;
  width:152px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:456px;
  top:60px;
  width:154px;
  height:30px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:90px;
  width:152px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:152px;
  top:90px;
  width:152px;
  height:30px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:304px;
  top:90px;
  width:152px;
  height:30px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:456px;
  top:90px;
  width:154px;
  height:30px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:0px;
  top:120px;
  width:152px;
  height:30px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:152px;
  top:120px;
  width:152px;
  height:30px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:304px;
  top:120px;
  width:152px;
  height:30px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:456px;
  top:120px;
  width:154px;
  height:30px;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:270px;
  top:270px;
  width:100px;
  height:25px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Heiti SC';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u88 {
  position:absolute;
  left:790px;
  top:270px;
  width:100px;
  height:25px;
}
#u88_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Heiti SC';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u89 {
  position:absolute;
  left:234px;
  top:71px;
  width:97px;
  height:25px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
