body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:20px;
  top:0px;
  width:257px;
  height:33px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:20px;
  top:43px;
  width:900px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:883px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:900px;
  height:1px;
}
#u4 {
  position:absolute;
  left:20px;
  top:588px;
  width:900px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:883px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:900px;
  height:1px;
}
#u6 {
  position:absolute;
  left:20px;
  top:63px;
  width:200px;
  height:520px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:520px;
}
#u7 {
  position:absolute;
  left:2px;
  top:252px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:86px;
  top:229px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:86px;
  top:254px;
  width:66px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:86px;
  top:281px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:23px;
  top:190px;
  width:97px;
  height:25px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:23px;
  top:310px;
  width:49px;
  height:25px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:30px;
  top:73px;
  width:97px;
  height:25px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:47px;
  top:108px;
  width:84px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:47px;
  top:134px;
  width:81px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:47px;
  top:167px;
  width:81px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:13px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:73px;
  top:340px;
  width:27px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:70px;
  top:390px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:23px;
  top:414px;
  width:97px;
  height:25px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:72px;
  top:457px;
  width:109px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:72px;
  top:517px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:72px;
  top:491px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:73px;
  top:373px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:74px;
  top:357px;
  width:27px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:700px;
  top:33px;
  width:200px;
  height:90px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:90px;
}
#u44 {
  position:absolute;
  left:2px;
  top:37px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:700px;
  top:8px;
  width:200px;
  height:25px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Helvetica';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u46 {
  position:absolute;
  left:230px;
  top:135px;
  width:690px;
  height:45px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:45px;
}
#u47 {
  position:absolute;
  left:2px;
  top:14px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:240px;
  top:80px;
  width:100px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Heiti SC';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u49 {
  position:absolute;
  left:350px;
  top:80px;
  width:110px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Helvetica';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u50 {
  position:absolute;
  left:490px;
  top:80px;
  width:110px;
  height:25px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Helvetica';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u51 {
  position:absolute;
  left:466px;
  top:86px;
  width:9px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:610px;
  top:80px;
  width:50px;
  height:25px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Heiti SC';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u54 {
  position:absolute;
  left:53px;
  top:369px;
  width:130px;
  height:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u55 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:290px;
  top:167px;
  width:40px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#FF0000;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:840px;
  top:167px;
  width:70px;
  height:13px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:13px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Heiti SC';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
