body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:320px;
  top:80px;
  width:610px;
  height:350px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:350px;
}
#u1 {
  position:absolute;
  left:2px;
  top:167px;
  width:606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:54px;
  top:10px;
  width:257px;
  height:33px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:54px;
  top:60px;
  width:866px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:849px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:866px;
  height:1px;
}
#u5 {
  position:absolute;
  left:820px;
  top:25px;
  width:100px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Heiti SC';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6 {
  position:absolute;
  left:68px;
  top:116px;
  width:230px;
  height:254px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:254px;
}
#u7 {
  position:absolute;
  left:2px;
  top:119px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:78px;
  top:130px;
  width:49px;
  height:25px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:86px;
  top:194px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:86px;
  top:260px;
  width:52px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:13px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:138px;
  top:188px;
  width:139px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Helvetica';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u15 {
  position:absolute;
  left:140px;
  top:254px;
  width:139px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Helvetica';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u16 {
  position:absolute;
  left:178px;
  top:315px;
  width:100px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Heiti SC';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
