body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:30px;
  top:12px;
  width:257px;
  height:33px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:30px;
  top:55px;
  width:900px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:883px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:900px;
  height:1px;
}
#u4 {
  position:absolute;
  left:30px;
  top:600px;
  width:900px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:883px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:900px;
  height:1px;
}
#u6 {
  position:absolute;
  left:30px;
  top:75px;
  width:200px;
  height:520px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:520px;
}
#u7 {
  position:absolute;
  left:2px;
  top:252px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:96px;
  top:241px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:96px;
  top:266px;
  width:66px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:96px;
  top:293px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:33px;
  top:202px;
  width:97px;
  height:25px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:33px;
  top:322px;
  width:49px;
  height:25px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:40px;
  top:85px;
  width:97px;
  height:25px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:57px;
  top:120px;
  width:84px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:57px;
  top:146px;
  width:81px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:57px;
  top:179px;
  width:81px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:13px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:83px;
  top:352px;
  width:27px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:80px;
  top:402px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:33px;
  top:426px;
  width:97px;
  height:25px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:82px;
  top:469px;
  width:109px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:82px;
  top:529px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:82px;
  top:503px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:83px;
  top:385px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:84px;
  top:369px;
  width:27px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:710px;
  top:45px;
  width:200px;
  height:90px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:90px;
}
#u44 {
  position:absolute;
  left:2px;
  top:37px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:710px;
  top:20px;
  width:200px;
  height:25px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Helvetica';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u46 {
  position:absolute;
  left:70px;
  top:350px;
  width:130px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:240px;
  top:80px;
  width:400px;
  height:280px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:280px;
}
#u49 {
  position:absolute;
  left:2px;
  top:132px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:370px;
  top:90px;
  width:97px;
  height:25px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:280px;
  top:125px;
  width:330px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u53 {
  position:absolute;
  left:280px;
  top:145px;
  width:66px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:420px;
  top:174px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:280px;
  top:177px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:279px;
  top:209px;
  width:66px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:280px;
  top:232px;
  width:66px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:340px;
  top:203px;
  width:200px;
  height:26px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
  background-image:;
  text-align:left;
  font-family:'Helvetica';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u64 {
  position:absolute;
  left:340px;
  top:229px;
  width:200px;
  height:25px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Helvetica';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u65 {
  position:absolute;
  left:340px;
  top:168px;
  width:70px;
  height:25px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Helvetica';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u65_ann {
  position:absolute;
  left:403px;
  top:164px;
  width:1px;
  height:1px;
}
#u66 {
  position:absolute;
  left:340px;
  top:139px;
  width:200px;
  height:25px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Helvetica';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u66_ann {
  position:absolute;
  left:533px;
  top:135px;
  width:1px;
  height:1px;
}
#u67 {
  position:absolute;
  left:550px;
  top:204px;
  width:70px;
  height:25px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Heiti SC';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u68 {
  position:absolute;
  left:483px;
  top:172px;
  width:19px;
  height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:528px;
  top:172px;
  width:40px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:573px;
  top:172px;
  width:26px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:390px;
  top:275px;
  width:100px;
  height:25px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Heiti SC';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u75 {
  position:absolute;
  left:660px;
  top:80px;
  width:270px;
  height:285px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:285px;
}
#u76 {
  position:absolute;
  left:2px;
  top:134px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
