.wrapheight{
	height: 100%;/**需要填充高度的可以加上这个样式**/
}
.container-index{
	height: 300px;
}
.login-box,.trading-box,.news-box{
  display: inline-block;
  height: 300px;
  vertical-align: top;
  overflow: auto;
  border-radius: 4px;
  box-shadow: 0 2px 0 #eeeeee;
  -moz-box-sizing: border-box;
}

.trading-box{
  width: 100%;
}
.news-box{
width: 100%;
}

.login-box{
  background-color: #00809d;
}

.login-title{
	height: 100px;
	margin: 0 auto;
	padding: 30px;
	
}
.login-title h3{
	color: #fff;
	text-align:center;
}
.login-input{
	height: 120px;
	padding:10px 30px;
	
}
.login-input input{
	margin:10px auto;
}
.login-btn{
	height: 80px;
	background-color: #fff;
	text-align: center;
	border-top:2px solid #EFEFEF;
}

.signin-btn{
  position: relative;
  top: 0;
  border: none;
  padding: 0 15px;
  margin: 5px;
  margin-top: 20px;
  height: 30px;
  width: 70%;
  line-height: 30px;
  outline: none;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  color: #ffffff;
  background-color: #67b96f;
  border-color: transparent;
  box-shadow: 0 2px 0 #4b9b53;
  -moz-box-sizing: border-box;
}
.signin-btn:hover,.signin-btn:active{
    color: rgb(255, 255, 255);
    background-color: rgb(93, 178, 101);
    border-color: transparent;
}
.signin-btn:active{
	top: 2px;
outline: 0px none;
box-shadow: none;
transition: all 0.075s ease 0s;
}

.trading-title,.news-title{
	background-color: #00809d;
	height: 30px;
	padding: 5px 10px;
}
.trading-title h4,.news-title h4{
	color: #fff;
	margin: 0px;/*为什么会多出20px的margin*/
	}
.trading-body{
	height: 270px;
	text-align: center;
}
.footer{
	text-align: center;
	margin-top: 10px;
	color: #898989;
}
.register-form{
padding: 30px 60px;
border-width: 1px;
border-color: #eeeeee;
border-radius: 4px;
box-shadow: none;
	}
	.container-open{
		padding: 20px 200px;
	}
	
	/**nav css**/
	.navbar-style{
	margin-bottom: 0px;/*去除多出来的20px margin*/
}
.nav-style{
	padding: 10px 5px;
	background-color: #434343;
	height: 100%;
}
.side-nav{
	display: block;
	margin: 0px;
	padding: 0.77778rem 0px;
	list-style-type: none;
	list-style-position: inside;
	color: #d2d2d2;
}
.side-nav a{
    display:block;
    padding:0.5em 2em;
	text-decoration: none;
	line-height: inherit;
	color: #d2d2d2;
}
.side-nav li:hover > a:first-child,.side-nav li:active >a:first-child{
	color: white;
	background-color: #535353;
}

.side-nav li.active{
	color: white;
	background-color: #535353;
}

.side-nav li.heading{
	padding: 2px 0px;
	font-size: 0.6em;
	color: #a0a0a0;
	margin: 10px 5px;
}
.side-nav li.divider {
    margin: 16px 0px;
    border-top: 0px;
	height: 0px;
	padding: 0px;
	list-style: none outside none;
}
.index-section-news{
	padding:20px 0px;
}
.index-section-news li{
	margin: 10px 0px;
}

.index-section-news li a{
	display:block;
	text-decoration: none;
	line-height: inherit;
	color: #707070;
}

.index-section-news li a:hover{
	display:block;
	text-decoration: none;
	line-height: inherit;
	color: #448aca;

}

@font-face {font-family: 'iconfont';
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg#uxiconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{font-family:"iconfont";font-size:16px;font-style:normal;}


